<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanpierrepachecoavila.proyecto_intermedio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Llena_formulario"
            android:label="@string/title_activity_llena_formulario"></activity>
        <activity
            android:name=".SegundaParte"
            android:label="@string/title_activity_segunda_parte"></activity>
        <activity
            android:name=".TerceraParte"
            android:label="@string/title_activity_tercera_parte"></activity>
        <activity
            android:name=".FormularioTerminado"
            android:label="@string/title_activity_formulario_terminado"></activity>



    </application>

</manifest>
